.form_auth {
    display: flex;
    flex-direction: column;
    /* gap: 1em; */
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

.wrapper_form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}


.wrapper_input{
    display: flex;
    justify-content: space-between;
}
  
  label {
    display: flex;
    justify-self: start;
    font-weight: bold;
  }
  
  input,
  select {
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 0.25em;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0.5em;
  }
  
  .notifications-switch{
    display: flex;
    width: 20px;
    justify-content: start;
    margin-right: 130px;
  }

  .profile-picture-input{
    width: 60%;
  }
.error{
    background-color: #f3d1d1;
    color: red;
    border-radius: 0.25em;
    gap : 0em;
}
.card-list{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
    justify-self: center;
    gap: 2em;
    width: 200%;
    max-width: 800px;
    margin: 0 auto;
    flex-wrap: wrap;
    margin-left: -50%;
    margin-top: 20px;
}
.card_added{
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    gap: 1em;
    width: 200px;
    margin: 0 auto;
    color: #090909;
    border-radius: 0.5em;
    margin-top: 5px;
    font-size: 1.25em;
}
.wrapper_one_subbmissionCard{
    border-radius: 0.5em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
span{
    color:aliceblue
}
.button_submit_form {
    padding: 0.5em 1em;
    background-color: #2c19bd;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;
    cursor: pointer;
  }
  .button_submit_form:hover{
    background-color: #3c2ac0;
  }
  .button_submit_form:active{
    background-color: #56fab3;
    color: darkslategrey;
  }
  