.wrapper_form{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

.wrapper_input{
    display: flex;
    justify-content: space-between;
}
  
  label {
    display: flex;
    justify-self: start;
    font-weight: bold;
  }
  
  input,
  select {
    padding: 0.5em;
    font-size: 1rem;
    border-radius: 0.25em;
    border: 1px solid #ccc;
  }
  
  input[type="checkbox"],
  input[type="radio"] {
    margin-right: 0.5em;
  }
  
  .notifications-switch{
    display: flex;
    width: 20px;
    justify-content: start;
    margin-right: 130px;
  }

  .profile-picture-input{
    width: 60%;
  }
.button_submit_form {
    padding: 0.5em 1em;
    background-color: #2c19bd;
    color: #fff;
    border: none;
    border-radius: 0.25em;
    font-size: 1rem;
    cursor: pointer;
  }
  .button_submit_form:hover{
    background-color: #3c2ac0;
  }
  .button_submit_form:active{
    background-color: #56fab3;
    color: darkslategrey;
  }
  