:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #413737;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
.header {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  justify-content: space-around;
}
.search_form{
  display: flex;
  justify-content: center;
}
.input_search{
  width: 20%;
  height: 25px;
  border-radius: 5px;
  background-color: antiquewhite;
}
.riSearch{
  display: block;
  color: #050505;
  margin-top: 3px;
  margin-left: -40px;
  font-size: 23px;
}
.wrapperAllItems{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrapperItem {
  display: flex;
  width: 25%;
  height: 420px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-image: linear-gradient(to bottom, #665353 0%, #627a62 50%, #9999b6 100%);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.9);
  margin: 10px;
}

.titleItem {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  text-align: center;
  color:#242424;
}

.priceItem{
  padding: 0;
  margin: 0;
  font-size: 24px;
  color:#050505;
}

.wrapperImgItem{
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.imgItem {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.categoryItem,
.brandItem {
  padding: 0;
  font-size: 16px;
  margin-bottom: 5px;
  color:#242424;
}

.ratingItem {
  font-size: 20px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
  color:#242424;
}

